@import url(variables.css);

@font-face {
    font-family: "mons";
    src: url(../public/fonts/Montserrat-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none ;
}

.header {
    background-color: darkmagenta;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo {
    width: 45px;
}

.header__contact {
    width: 23px;
    margin-left: 10px;
    background: aliceblue;
}

.header__nav-link {
    margin-left: 30px;
    font-size: 15px;
    color: aliceblue;
    font-weight: bold;
    font-family: "mons";
}


.products-wrapper {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-top: 50px;
}


.first-product {
    width: 300px;
    background-color: yellow;
}

.product-image {
    width: 300px;
    height: 200px;
}

.details-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-button {
    padding: 5px 15px;
    border: 1px solid black;
    text-decoration: none;
}

.product-button:hover {
    background-color: darkmagenta;
    transition: 1s;
}

.login-wrapper {
    width: 400px;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px;
}

